services:
  backend:
    build: ./backend
    command: poetry run uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --no-access-log
    volumes:
      - ./backend:/code
      - /code/.venv
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      - DATABASE_URL=mysql+pymysql://root:root@mysql-db:3306/marketplace
    depends_on:
      mysql-db:
        condition: service_healthy

  frontend:
   build:
    context: ./frontend
    dockerfile: Dockerfile

   ports:
    - "5173:5173"

   volumes:
    - /app/node_modules
    - ./frontend:/app
   env_file:
    - ./frontend/.env

   command: ["npm", "run", "dev", "--", "--host"]

   depends_on:
    - backend

  mysql-db:
    image: mysql:8.0
    restart: always
    env_file:
      - ./backend/.env
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: marketplace
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-proot" ]
      timeout: 20s
      retries: 2
      interval: 15s
      start_period: 30s
    command: --max_connections=500


volumes:
  mysql_data:
